// Colors

// Primary

$Moderate-cyan: hsl(176, 50%, 47%);
$Dark-cyan: hsl(176, 72%, 28%);

// Neutral

$Black: hsl(0, 0%, 0%);
$Dark-gray: hsl(0, 0%, 48%);
$White-bg: hsl(0, 29%, 97%);

// Font
$font-body: "Commissioner", sans-serif;

// Media queries

$breakpoints: (
  small: 699px,
  medium: 700px,
  large: 1000px,
  alarge: 1300px,
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);
  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}

@mixin breakpoint-less($size) {
  $breakpoint-value: map-get($breakpoints, $size);
  @media screen and (max-width: $breakpoint-value) {
    @content;
  }
}
