.design {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint(medium) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  img {
    width: 100%;

    @include breakpoint(medium) {
      max-width: 400px;
    }
  }
}
