.features {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 350px 300px 350px repeat(2, 450px);
  grid-template-areas: "transform-pic" "caption1" "stand-out" "caption2" "apple" "orange";
  align-items: center;
  justify-items: center;

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "caption1 transform-pic" "stand-out caption2" "apple orange";
    column-gap: 0;
  }

  &__picture {
    width: 100%;
    height: 300px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint(medium) {
      height: 500px;
    }
  }

  &__pic1 {
    grid-area: transform-pic;
    background-image: url("../images/mobile/image-transform.jpg");

    @include breakpoint(medium) {
      background-image: url("../images/desktop/image-transform.jpg");
    }
  }

  &__pic2 {
    grid-area: stand-out;
    background-image: url("../images/mobile/image-stand-out.jpg");

    @include breakpoint(medium) {
      background-image: url("../images/desktop/image-stand-out.jpg");
    }
  }

  &__pic3 {
    grid-area: apple;
    height: 450px;
    background-image: url("../images/mobile/image-graphic-design.jpg");

    @include breakpoint(medium) {
      height: 500px;
      background-image: url("../images/desktop/image-graphic-design.jpg");
    }
  }

  &__pic4 {
    grid-area: orange;
    height: 450px;
    background-image: url("../images/desktop/image-photography.jpg");

    @include breakpoint(medium) {
      height: 500px;
      background-image: url("../images/desktop/image-photography.jpg");
    }
  }

  &__caption1 {
    grid-area: caption1;
  }

  &__caption2 {
    grid-area: caption2;
  }

  &__caption {
    margin: 50px 0;
    text-align: center;
    h3 {
      @include breakpoint-less(small) {
        padding-top: 20px;
      }
    }
    @include breakpoint(medium) {
      text-align: left;
      margin-top: 20px;
      padding: 30px;
    }

    p {
      max-width: 307px;
      padding-bottom: 30px;
      @include breakpoint(medium) {
        max-width: 500px;
      }
    }
  }
}
