html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-body;
  color: $White;
}

a {
  color: $Dark-blue;
  text-decoration: none;
  @include breakpoint(medium) {
    color: $White;
  }
  &:hover {
    text-decoration: underline;
  }
}

button,
.button {
  border: none;
  outline: none;
  border: 1px solid $White;
  color: $Dark-blue;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: $Yellow;
  width: 80px;
  margin: 0 auto;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  @include breakpoint(medium) {
    background-color: $White;
  }
  &:hover {
    background-color: $Grayish-blue;
    text-decoration: none;
  }
}

h1,
h2,
h3 {
  font-family: $font-title;
  font-size: 1.3rem;
  font-weight: 900;
  padding-top: 30px;
  text-transform: uppercase;
  line-height: 1.3;
  word-spacing: 10px;

  @include breakpoint(medium) {
    font-size: 2.5rem;
    padding-top: 50px;
    word-spacing: 20px;
  }
}

h3 {
  padding-bottom: 20px;
  font-size: 1.5rem;
  color: $Very-dark-desaturated-blue;
  text-transform: capitalize;
  word-spacing: 5px;

  @include breakpoint(medium) {
    font-size: 2rem;
    word-spacing: 10px;
  }
}

p {
  font-family: $font-body;
  color: $Dark-blue;
  font-size: 1.3rem;
}

.learn-more-yellow {
  position: relative;
  font-family: $font-title;
  color: $Very-dark-desaturated-blue;
  z-index: 3;

  &:after {
    position: absolute;
    content: "";
    width: 97px;
    height: 0px;
    left: -4px;
    top: 10px;
    z-index: -13;
    border: 5px solid $Yellow;
    border-radius: 4px;
  }
}

.learn-more-red {
  position: relative;
  font-family: $font-title;
  color: $Very-dark-desaturated-blue;
  z-index: 3;

  &:after {
    position: absolute;
    content: "";
    width: 97px;
    height: 0px;
    left: -4px;
    top: 10px;
    z-index: -13;
    border: 5px solid #fe7867;
    border-radius: 4px;
  }
}

.caption {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 255px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  p {
    font-size: 1rem;

    @include breakpoint(medium) {
      font-size: 1.2rem;
    }
  }
}
