.testimonail {
  max-width: 1100px;
  margin: 0 auto;
  h2 {
    padding-top: 80px;
    color: $Dark-grayish-blue;
    text-align: center;
    font-family: $font-title;
    font-weight: 700;
    font-size: 1.3rem;
    padding-bottom: 60px;
    letter-spacing: 2px;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;

    @include breakpoint(medium) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
    }

    &-item {
      text-align: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 10px;
      }

      h4 {
        font-family: $font-title;
        font-weight: 900;
        color: $Very-dark-desaturated-blue;
        font-size: 1.1rem;
      }

      p {
        padding: 10px 0;
        font-size: 1rem;
        max-width: 300px;
        margin: 0 auto;

        @include breakpoint(medium) {
          max-width: 350px;
        }
      }

      .duty {
        color: $Dark-grayish-blue;
      }
    }
  }
}
