html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:after,
*:before {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  color: white;
}

a {
  color: #19536b;
  text-decoration: none;
}

@media screen and (min-width: 699px) {
  a {
    color: white;
  }
}

a:hover {
  text-decoration: underline;
}

button,
.button {
  border: none;
  outline: none;
  border: 1px solid white;
  color: #19536b;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #fad400;
  width: 80px;
  margin: 0 auto;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@media screen and (min-width: 699px) {
  button,
  .button {
    background-color: white;
  }
}

button:hover,
.button:hover {
  background-color: #a7abae;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
  font-size: 1.3rem;
  font-weight: 900;
  padding-top: 30px;
  text-transform: uppercase;
  line-height: 1.3;
  word-spacing: 10px;
}

@media screen and (min-width: 699px) {
  h1,
  h2,
  h3 {
    font-size: 2.5rem;
    padding-top: 50px;
    word-spacing: 20px;
  }
}

h3 {
  padding-bottom: 20px;
  font-size: 1.5rem;
  color: #23303e;
  text-transform: capitalize;
  word-spacing: 5px;
}

@media screen and (min-width: 699px) {
  h3 {
    font-size: 2rem;
    word-spacing: 10px;
  }
}

p {
  font-family: "Barlow", sans-serif;
  color: #19536b;
  font-size: 1.3rem;
}

.learn-more-yellow {
  position: relative;
  font-family: "Fraunces", serif;
  color: #23303e;
  z-index: 3;
}

.learn-more-yellow:after {
  position: absolute;
  content: "";
  width: 97px;
  height: 0px;
  left: -4px;
  top: 10px;
  z-index: -13;
  border: 5px solid #fad400;
  border-radius: 4px;
}

.learn-more-red {
  position: relative;
  font-family: "Fraunces", serif;
  color: #23303e;
  z-index: 3;
}

.learn-more-red:after {
  position: absolute;
  content: "";
  width: 97px;
  height: 0px;
  left: -4px;
  top: 10px;
  z-index: -13;
  border: 5px solid #fe7867;
  border-radius: 4px;
}

.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 255px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.caption p {
  font-size: 1rem;
}

@media screen and (min-width: 699px) {
  .caption p {
    font-size: 1.2rem;
  }
}

.header__container {
  position: relative;
  background-image: url("../images/mobile/image-header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 699px) {
  .header__container {
    width: 100%;
    background-image: url("../images/desktop/image-header.jpg");
  }
  .header__container .hamburger {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .header__container {
    width: 100%;
    height: 100vh;
    background-image: url("../images/desktop/image-header.jpg");
  }
  .header__container .hamburger {
    display: none;
  }
}

.header__container .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__container .logo #logo {
  width: 170px;
}

@media screen and (max-width: 375px) {
  .header__container .logo #logo {
    width: 100px;
  }
}

.header__container .logo img {
  padding: 30px 30px;
}

.header__container .logo .hamburger {
  float: right;
  margin-right: 0px;
}

@media screen and (min-width: 699px) {
  .header__container--logo .mobile {
    opacity: 0;
  }
}

@media screen and (max-width: 375px) {
  .header__container--logo .mobile .desktop {
    opacity: 0;
  }
}

.header__container--logo .mobile {
  position: absolute;
  background-color: white;
  max-width: 375px;
  width: 270px;
  height: 250px;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  margin: 0 auto;
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 20px;
}

.header__container--logo .mobile:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -30px;
  right: 0;
  border: 30px solid transparent;
  border-color: transparent white white transparent;
}

.header__container--logo .desktop {
  padding: 20px 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media screen and (min-width: 699px) {
  .header__container--logo .desktop {
    display: -ms-grid;
    display: grid;
    margin-top: -80px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

.header__container--caption {
  margin-top: 25px;
  text-align: center;
}

.header__container--caption img {
  margin-top: 50px;
  width: 20px;
}

@media screen and (min-width: 699px) {
  .header__container--caption img {
    width: 40px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1140px) {
  .header__container--caption img {
    width: 60px;
    margin-top: 30px;
  }
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 300px 350px 300px 350px (450px)[2];
      grid-template-rows: 300px 350px 300px 350px repeat(2, 450px);
      grid-template-areas: "transform-pic" "caption1" "stand-out" "caption2" "apple" "orange";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (min-width: 699px) {
  .features {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "caption1 transform-pic" "stand-out caption2" "apple orange";
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.features__picture {
  width: 100%;
  height: 300px;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 699px) {
  .features__picture {
    height: 500px;
  }
}

.features__pic1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: transform-pic;
  background-image: url("../images/mobile/image-transform.jpg");
}

@media screen and (min-width: 699px) {
  .features__pic1 {
    background-image: url("../images/desktop/image-transform.jpg");
  }
}

.features__pic2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: stand-out;
  background-image: url("../images/mobile/image-stand-out.jpg");
}

@media screen and (min-width: 699px) {
  .features__pic2 {
    background-image: url("../images/desktop/image-stand-out.jpg");
  }
}

.features__pic3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: apple;
  height: 450px;
  background-image: url("../images/mobile/image-graphic-design.jpg");
}

@media screen and (min-width: 699px) {
  .features__pic3 {
    height: 500px;
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
}

.features__pic4 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: orange;
  height: 450px;
  background-image: url("../images/desktop/image-photography.jpg");
}

@media screen and (min-width: 699px) {
  .features__pic4 {
    height: 500px;
    background-image: url("../images/desktop/image-photography.jpg");
  }
}

.features__caption1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: caption1;
}

.features__caption2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: caption2;
}

.features__caption {
  margin: 50px 0;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .features__caption h3 {
    padding-top: 20px;
  }
}

@media screen and (min-width: 699px) {
  .features__caption {
    text-align: left;
    margin-top: 20px;
    padding: 30px;
  }
}

.features__caption p {
  max-width: 307px;
  padding-bottom: 30px;
}

@media screen and (min-width: 699px) {
  .features__caption p {
    max-width: 500px;
  }
}

.testimonail {
  max-width: 1100px;
  margin: 0 auto;
}

.testimonail h2 {
  padding-top: 80px;
  color: #818498;
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.3rem;
  padding-bottom: 60px;
  letter-spacing: 2px;
}

.testimonail__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 30px;
}

@media screen and (min-width: 699px) {
  .testimonail__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

.testimonail__container-item {
  text-align: center;
}

.testimonail__container-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonail__container-item h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23303e;
  font-size: 1.1rem;
}

.testimonail__container-item p {
  padding: 10px 0;
  font-size: 1rem;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 699px) {
  .testimonail__container-item p {
    max-width: 350px;
  }
}

.testimonail__container-item .duty {
  color: #818498;
}

.design {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 699px) {
  .design {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.design img {
  width: 100%;
}

@media screen and (min-width: 699px) {
  .design img {
    max-width: 400px;
  }
}

.footer {
  background-color: #458c7e;
}

.footer__container {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 40px;
}

@media screen and (min-width: 699px) {
  .footer__container {
    max-width: 450px;
  }
}

.footer__container-logo {
  margin-top: 50px;
}

.footer__container-links {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (60px)[4];
      grid-template-columns: repeat(4, 60px);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.footer__container-links a {
  font-size: 1rem;
  color: #25564b;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@media screen and (min-width: 699px) {
  .footer__container-links a {
    font-size: 1.3rem;
  }
}

.footer__container-links a:hover {
  text-decoration: none;
  color: #a7abae;
}

@media screen and (min-width: 699px) {
  .footer__container-links {
    max-width: 400px;
    -ms-grid-columns: (80px)[4];
        grid-template-columns: repeat(4, 80px);
  }
}

.footer__container-social {
  max-width: 300px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  padding-bottom: 40px;
  -ms-grid-columns: (20px)[4];
      grid-template-columns: repeat(4, 20px);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.footer__container-social a img {
  width: 25px;
  height: 25px;
}
/*# sourceMappingURL=styles.css.map */