// fonts
$font_primary: "Bai Jamjuree", sans-serif;

// Colors

// Primary

$Strong_Cyan: hsl(171, 66%, 44%);
$Light_Blue: hsl(233, 100%, 69%);
$ligther_gray: hsl(220, 18%, 97%);

// Neutral

$Dark_Grayish_Blue: hsl(210, 10%, 33%);
$Grayish_Blue: hsl(201, 11%, 66%);

// Media Queries
$breakpoints: (
  small: 699px,
  medium: 700px,
  large: 1000px,
  alarge: 1300px,
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}

@mixin breakpoint-left($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (max-width: $breakpoint-value) {
    @content;
  }
}
