.header {
  position: relative;
  background-image: url("../images/bg-pattern.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  text-align: center;
  padding: 40px 20px;
  z-index: -1;

  h3 {
    color: $Grayish-Blue;
    font-size: 1rem;

    @include breakpoint(medium) {
      br {
        display: none;
      }
    }
  }

  &:after {
    position: absolute;
    content: "";
    background-image: url("../images/pattern-circles.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 95px;
    z-index: -1;

    @include breakpoint(medium) {
      height: 100px;
      width: 100px;
    }
  }
}
