html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 1.7rem;
  font-weight: 800;
}

@media screen and (min-width: 699px) {
  h1 {
    font-size: 2rem;
  }
}

h4 {
  color: #858fad;
}

@media screen and (max-width: 375px) {
  h4 {
    font-size: 0.8rem;
  }
}

ul li {
  list-style: none;
}

.button,
button {
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  text-decoration: none;
  border: 1px solid #293356;
  background-color: #293356;
  color: #ffff;
  padding: 10px 10px;
  border-radius: 15px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  width: 200px;
}

@media screen and (max-width: 375px) {
  .button,
  button {
    margin: 20px 0;
  }
}

.button:hover,
button:hover {
  border: 1px solid #858fad;
  background-color: #858fad;
}

.header {
  position: relative;
  background-image: url("../images/bg-pattern.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  text-align: center;
  padding: 40px 20px;
  z-index: -1;
}

.header h3 {
  color: #858fad;
  font-size: 1rem;
}

@media screen and (min-width: 699px) {
  .header h3 br {
    display: none;
  }
}

.header:after {
  position: absolute;
  content: "";
  background-image: url("../images/pattern-circles.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 95px;
  z-index: -1;
}

@media screen and (min-width: 699px) {
  .header:after {
    height: 100px;
    width: 100px;
  }
}

.card {
  position: relative;
  background-color: #ffff;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 20px;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  z-index: 3000;
}

@media screen and (min-width: 699px) {
  .card {
    padding: 30px;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.card__price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row: repeat(3, 1fr);
      grid-template-areas: "views" "process" "price";
  row-gap: 25px;
  place-items: center;
}

@media screen and (min-width: 699px) {
  .card__price {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "views price" "process process";
    row-gap: 10px;
  }
}

.card__price .card__process {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: process;
}

.card__price h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: views;
  color: #858fad;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card__price h3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: price;
}

.card__price h3 strong {
  font-weight: 800;
  font-size: 2rem;
  color: #293356;
  vertical-align: top;
}

.card__process {
  position: relative;
  width: 100%;
}

.card__process .slider {
  background: -webkit-gradient(linear, left top, right top, from(#a5f3eb), color-stop(50%, #a5f3eb), color-stop(50%, #ddd), to(#ddd));
  background: linear-gradient(to right, #a5f3eb 0%, #a5f3eb 50%, #ddd 50%, #ddd 100%);
  border-radius: 8px;
  height: 10px;
  width: 100%;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  opacity: 0.8;
}

.card__process .slider:hover {
  opacity: 1;
}

.card__process .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background-image: url("../images/icon-slider.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  left: 0;
  background-color: #10d5c2;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.card__process .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  /* Green background */
  cursor: pointer;
}

.card__option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto 1fr;
      grid-template-columns: auto 1fr auto 1fr;
  place-items: center;
}

.card__option .show-desktop {
  display: none;
}

@media screen and (min-width: 699px) {
  .card__option {
    -ms-grid-columns: 150px (1fr)[3];
        grid-template-columns: 150px repeat(3, 1fr);
  }
  .card__option .show-mobile {
    display: none;
  }
  .card__option .show-desktop {
    display: -ms-grid;
    display: grid;
  }
}

.card__option .switch {
  font-size: 0.6rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 6em;
  height: 3em;
  background-color: #ddd;
  border-radius: 3em;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.09s ease-in-out;
  transition: background-color 0.09s ease-in-out;
  position: relative;
}

.card__option .switch:after {
  position: absolute;
  content: "";
  width: 3em;
  height: 3em;
  border-radius: 3em;
  background-color: seashell;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: left 0.09s ease-in-out;
  transition: left 0.09s ease-in-out;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.card__option .switch:checked {
  background-color: #10d5c2;
}

.card__option .switch:checked:after {
  left: 3em;
}

.card__option span {
  background-color: #feece7;
  color: #ff8c66;
  border-radius: 5px;
  padding: 5px;
}

.card__features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
}

@media screen and (min-width: 699px) {
  .card__features {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.card__features ul {
  position: relative;
}

.card__features ul li {
  padding-left: 30px;
  margin-bottom: 10px;
}

.card__features ul li:before {
  position: absolute;
  content: "";
  background-image: url("../images/icon-check.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  left: 0;
}
/*# sourceMappingURL=styles.css.map */