.hero {
  padding-top: 130px;

  h1 {
    @include breakpoint(large) {
      br {
        display: none;
      }
    }
  }
  &__logo {
    margin-bottom: 50px;
  }

  &__cta {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint(medium) {
      display: block;
    }

    button:first-child {
      margin-bottom: 20px;

      @include breakpoint(medium) {
        margin-right: 20px;
      }
    }
  }
}
