.companies-container {
  @include breakpoint(large) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .company {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;

    @include breakpoint(large) {
      padding-bottom: 0;

      &:not(:first-child) {
        padding-left: 50px;
      }
    }
  }
}
