.supercharge {
  &__columns {
    @include breakpoint(large) {
      // display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  &__column {
    // flex: 1;
    margin-bottom: 20px;
  }

  &__icon {
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
