html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  background-image: url("../../images/bg-header-mobile.png");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

@media screen and (min-width: 700px) {
  body {
    background-image: url("../../images/bg-header-desktop.png");
  }
}

h1,
h2,
h3 {
  color: #4c545d;
  font-weight: 600;
}

h1 {
  margin-top: 0px;
  font-size: 2.5rem;
  font-weight: 600;
}

@media screen and (max-width: 699px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 2rem;
  color: #4c545d;
}

@media screen and (max-width: 699px) {
  h2 {
    font-size: 1.45rem;
  }
}

.button,
button {
  color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 20px 40px;
  font-family: inherit;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 699px) {
  .button,
  button {
    width: 100%;
  }
}

.button.cyan,
button.cyan {
  background-color: #26baa4;
  border-bottom: 2px solid #26baa4;
}

.button.cyan:hover,
button.cyan:hover {
  background-color: #2acfb7;
  -webkit-box-shadow: 0px 5px 8px rgba(38, 186, 164, 0.5);
          box-shadow: 0px 5px 8px rgba(38, 186, 164, 0.5);
}

.button.purple,
button.purple {
  background-color: #6173ff;
}

.button.purple:hover,
button.purple:hover {
  background-color: #7a8aff;
  -webkit-box-shadow: 0px 5px 8px rgba(97, 115, 255, 0.5);
          box-shadow: 0px 5px 8px rgba(97, 115, 255, 0.5);
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.centered .content {
  max-width: 700px;
}

.wrapper {
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 80px;
  max-width: 1110px;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 100px;
  }
}

p.small {
  font-size: 1rem;
  max-width: 340px;
}

p.medium {
  font-size: 1.125rem;
}

p.large {
  font-size: 1.5rem;
}

.captions {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;
  color: #9fabb2;
  margin-bottom: 45px;
}

@media screen and (min-width: 1000px) {
  .captions {
    font-size: 1.15rem;
    display: block;
  }
}

.image-device {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 700px) {
  .image-device {
    width: 80%;
  }
}

.hero {
  padding-top: 130px;
}

@media screen and (min-width: 1000px) {
  .hero h1 br {
    display: none;
  }
}

.hero__logo {
  margin-bottom: 50px;
}

.hero__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 700px) {
  .hero__cta {
    display: block;
  }
}

.hero__cta button:first-child {
  margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
  .hero__cta button:first-child {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .snippets__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.snippets__image {
  max-width: 600px;
}

.snippets__image img {
  width: 70%;
}

@media screen and (min-width: 700px) {
  .snippets__image img {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .snippets__image img {
    width: 80%;
    margin-right: 150px;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
}

@media screen and (min-width: 1000px) {
  .snippets__features {
    text-align: left;
    max-width: 500px;
    margin-left: -100px;
    margin-top: -20px;
  }
}

.snippets__features p {
  max-width: 300px;
  margin-bottom: 0px;
  display: inline-block;
}

@media screen and (min-width: 1000px) {
  .supercharge__columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

.supercharge__column {
  margin-bottom: 20px;
}

.supercharge__icon {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1000px) {
  .companies-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.companies-container .company {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

@media screen and (min-width: 1000px) {
  .companies-container .company {
    padding-bottom: 0;
  }
  .companies-container .company:not(:first-child) {
    padding-left: 50px;
  }
}

.footer {
  background-color: #f6f7f9;
  padding: 43px 0;
}

@media screen and (min-width: 700px) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.footer__container {
  padding-bottom: 0;
}

@media screen and (min-width: 700px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1110px;
    margin: auto;
  }
}

.footer__container a {
  text-decoration: none;
  color: #4c545d;
}

.footer__container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 699px) {
  .footer__logo {
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer__logo img {
  width: 60px;
}

@media screen and (min-width: 700px) {
  .footer__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-column-gap: 40px;
            column-gap: 40px;
    row-gap: 20px;
  }
}

@media screen and (min-width: 700px) and (min-width: 1000px) {
  .footer__links {
    -webkit-column-gap: 70px;
            column-gap: 70px;
    row-gap: 20px;
  }
}

@media screen and (max-width: 699px) {
  .footer__links a {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer__links a:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.footer__links a:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer__links a:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.footer__links a:nth-child(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer__links a:nth-child(5) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media screen and (max-width: 699px) {
  .footer__socail {
    text-align: center;
    display: block;
  }
}

.footer__socail a {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__socail a:not(:last-child) {
  margin-right: 20px;
}

.footer__socail a.facebook {
  background-image: url("../../images/icon-facebook.svg");
}

.footer__socail a.twitter {
  background-image: url("../../images/icon-twitter.svg");
}

.footer__socail a.instagram {
  background-image: url("../../images/icon-instagram.svg");
}
/*# sourceMappingURL=styles.css.map */